.hero-cricket {
    background-image: url('../images/cricket.jpg');
}

.hero-football {
    background-image: url('../images/football.jpg');
}

.hero-chess {
    background-image: url('../images/chess.jpg');
}

.hero-carrom {
    background-image: url('../images/carrom.jpg');
}
